@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */

.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
  .headerImg {
    grid-area: logo;
  }
  .headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
  }
  .headerNavLink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }
  .headerNavLink {
    color: #0065FC;
  }
  .headerNavLink:hover {
    color: #0065FC;
    text-decoration: underline;
  }
  .headerSignup {
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
  }

  .headerSignup:hover {
    text-decoration: underline;
  }
  
  @media screen and (min-width: 601px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
    }
    .headerNavLink:focus {
      border-top: 3px solid #0065FC;
    }
    .headerNavLink:hover {
      border-top: 3px solid #0065FC;
    }
  }

  /* Search */
  .main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .search {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .searchHeaderTitle {
    margin-bottom: 0.5rem;
  }

  .searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
  }

  .searchFormWrapicon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
  }
  .searchFormWrapiconIcon {
    margin-left: 0.1rem;
  }
  .searchFormSearchinput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
  }
  .searchFormSearchinput::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: #00000069;
  }

  .searchFormSubmitinput {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
  }
  .searchFilters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  .searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
  }
  .searchFiltersFilter {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
  }

  .searchFiltersFilter:last-child {
    margin-right: 0;
  }
  .searchFiltersFilter:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
  }

  .searchFiltersFilterWrapicon {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
  }
  .searchFiltersFilterWrapiconIcon {
    color: blue;
  }
  .searchFiltersFilterTitle {
    margin: 0 1rem;
  }
  .searchResult {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
  }
  .searchResultWrapicon {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }
  .searchResultWrapiconIcon {
    color: #0065FC;
  }
  .searchResultText {
    margin: 0;
  }


  /* Images */

  .cannebiere{
    background-image: url(../img/hosting/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.hotelPort{
    background-image: url(../img/hosting/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
.hotelMouettes{
    background-image:url(../img/hosting/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
.hotelMer{
    background-image:url(../img/hosting/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.aubergePanier{
    background-image:url(../img/hosting/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}
.hotelAmina{
    background-image:url(../img/hosting/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.hotelSoleil{
    background-image:url(../img/hosting/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.chambreCoeurEau{
    background-image:url(../img/hosting/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.hotelBleuBlanc{
    background-image:url(../img/hosting/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
/*IMAGES ACTIVITES*/
.activitePort{
    background-image: url(../img/activities/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    height: 393px;
}
.activitePomegues{
    background-image: url(../img/activities/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    height: 180px;
}
.activiteFrioul{
    background-image: url(../img/activities/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    height: 109px;
}
.activiteCalanques{
    background-image: url(../img/activities/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    height: 393px;
}
.activiteNotreDame{
    background-image: url(../img/activities/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    height: 140px;
}
.activiteLongchamp{
    background-image: url(../img/activities/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    height: 154px;
}
/* Results */

.resultats{
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
}
.resultats small{
    font-size: 0.75rem;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}
.resultats .icone{
    height: 22px;
    width: 22px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 12px;
}
.blockResultats{
    display: flex;
    justify-content: space-between;
    max-height: 650px;
}
.resultatsPrincipaux{
    display: flex;
    flex-direction: column;
    max-width: 880px;
    padding: 40px 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.resultatsPrincipaux h2, .afficherPlus{
    padding-left: 40px;
}
.afficherPlus{
    font-size: 1.06rem;
    font-weight: bold;
}
.resultatsPopulaires{
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    padding: 40px 0;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.resultatsPopulaires .fa-chart-line{
    margin-left: 118px;
}
.resultatsPopulaires .conteneurCarte{
    flex-direction: column;
}
.conteneurCarte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}
.carte{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
}
.carte h4{
    padding-left: 12px;
    margin: 2px 0 0 0;
}
.carte p{
    font-size: 0.8rem;
    padding-left: 12px;
    margin: 6px 0;
}
.carte .note{
    padding-left: 12px;
    color: #0065FC;
}
.carte:hover{
    box-shadow: none;
}
.cartePrincipal{
    padding: 5px 5px 10px 5px;
}

.greyStar {
  color: grey;
}
.imgPrincipal{
    width: 236px;
    height: 114px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cartePopulaire{
    display: flex;
    width: 334px;
    height: 134px;
    padding: 5px;
}
.imgPopulaire{
    width: 127px;
    height: 134px;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.texteCarte p{
    margin-bottom: 35%;
}
.lienCarte{
    margin: 15px 0;
}
/* activities*/
.activites{
    margin-bottom: 62px;
    margin-left: 50px;
    margin-right: 50px;
}
.conteneurActivites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 446px;
    margin-top: 24px;
}
.carteActivites{
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
}
.imgActivite{
    width: 302px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.carteActivites h4{
    padding: 17px 22px;
    margin: 0;
}
.carteActivites:hover{
    box-shadow: none;
}
/* footer */
footer{
    width: 100%;
    background-color: #F2F2F2;
}
.contenuFooter{
    max-width: 1340px;
    margin: auto;
    display: flex;
}
.contenuFooter div{
    margin-right: 228px;
    padding-bottom: 29px;
}
footer h3{
    padding: 46px 0 9px 0;
}
li{
    font-size: 1.06rem;
    padding: 9px 0;
}
ul{
    list-style: none;
    padding: 0;
}


/* responsive */
@media screen and (max-width: 1200px){
    /* Results */
    small{
        margin: 0 20px;
    }
    .blockResultats{
        flex-direction: column-reverse;
        max-height: none;
    }
    .resultatsPopulaires{
        width: auto;
        margin: 0;
        border-radius: 0;
    }
    .resultatsPopulaires h2{
        padding-bottom: 26px;
    }
    .resultatsPopulaires .conteneurCarte{
        margin: 0 20px;
    }
    .resultatsPopulaires .lienCarte{
        margin: 5px 0;
    }
    .resultatsPrincipaux{
        background: none;
    }
    .resultatsPrincipaux h2{
        padding: 0;
        margin-left: 20px;
    }
    .afficherPlus{
        padding: 0;
        margin-left: 20px;
    }
    .imgPrincipal{
        width: 326px;
        height: 114px;
    }
    .resultatsPrincipaux .lienCarte{
        margin: 6px 0;
    }
    /* Activities */
    .activites h2{
        padding-left: 20px;
    }
    .conteneurActivites{
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }
    .carteActivites h4{
        padding: 16.5px 22px;
    }
    .imgActivite{
        width: 334px;
        height: 134px !important;
    }
    .lienCarteActivites{
        margin: 12px 0;
    }
    /* footer */
    .contenuFooter{
        flex-direction: column;
    }
    footer h3{
        padding: 46px 0 9px 0;
    }
    .contenuFooter div{
        margin-right: 0;
        margin-left: 20px;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .resultatsPopulaires{
        align-items: flex-start;
    }
    .resultatsPopulaires .conteneurCarte{
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
        
    }
    .resultatsPopulaires .lienCarte{
        margin: 5px 10px;
    }
    .resultatsPopulaires h2{
        margin-left: 10px;
    }
    .resultatsPopulaires .fa-chart-line{
        margin-left: 20px;
    }
    .resultatsPrincipaux{
        align-self: center;
    }
    .resultatsPrincipaux .conteneurCarte{
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .conteneurActivites{
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contenuFooter{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .resultats {
      margin-left: 0px;
      margin-right: 0px;
    }

    .headerImg {
      margin-left: 40px;
    }
    .resultatsPopulaires .fa-chart-line {
      margin-left: 85px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px){
    .resultatsPopulaires{
        align-items: center;
    }
    .cartePopulaire{
        width: 316px;
    }
    .resultatsPopulaires .lienCarte{
        margin: 5px;
    }
    .imgActivite{
        width: 324px;
    }
}

@media screen and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .headerimg {
      order: 0;
      margin-left: 40px;
    }
    .headerSignup {
      order: 1;
    }
    .headerNav {
      order: 2;
    }
    .headerNavLink {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
    }
    .headerNavLink {
      border-bottom-color: #0065FC;
    }
    .headerNavLink:hover {
      border-bottom-color: #0065FC;
    }
  }

  @media screen and (max-width: 600px) {
    .searchForm {
      display: flex;
      width: 100%;
    }
    .searchFormSearchinput {
      flex: 1;
    }
    .searchFormSubmitinputText {
      display: none;
    }
    .searchFormSubmitinputIcon {
      display: block;
    }

    .resultats {
      margin-left: 0px;
      margin-right: 0px;
    }
    .resultatsPopulaires .fa-chart-line {
      margin-left: 85px;
    }
  }
  @media screen and (max-width: 650px) {
    .searchFiltersTitle {
      width: 100%;
    }
    .searchFiltersFilter {
      margin-right: 1rem;
    }
  }
  @media screen and (min-width: 600px) {
    .searchFormSubmitinputText {
      display: block;
    }
    .searchFormSubmitinputIcon {
      display: none !important;
    }
  }